
.container-livros{
    max-width: 1600px;
    margin: auto;
}

.container-livros h1{
    text-align: center;
    font-size: 3.5em;
    margin-top: 40px;
    margin-bottom: 10px;
    color: var(--color-1);
}
.container-livros h2{
    text-align: center;
    font-size: 3.5em;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--color-1);
}

.container-livros p{
    padding: 25px 16px 25px 16px;
    font-size: 1.8em;
    border-radius: 4px;
    text-align: justify;         
    text-indent: 1em;
    max-width: 900px;
    margin:auto;           
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px; 

}

.container-livros{
    max-width: 1600px;
    margin: auto;
}

.container-livros h1{
    text-align: center;
    font-size: 3.5em;
    margin-top: 40px;
    margin-bottom: 10px;
    color: var(--color-1);
}
.container-livros h2{
    text-align: center;
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--color-1);
}

.container-livros p{
    padding: 25px 16px 25px 16px;
    font-size: 1.8em;
    border-radius: 4px;
    text-align: justify;         
    text-indent: 1em;
    max-width: 900px;
    margin:auto;           
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px; 

}
#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
