body{
  
  background-color: rgba(42, 59, 71, 0.7);
  margin: 0;
  padding: 0; 
}

#section-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
 background-color: #2a3b47;
  border-radius: 10px;
  padding: 40px;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.3s ease;
  
}

.cards-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  
}

.card-info {
  z-index: 1;
  padding: 16px;
  
}

.card-info a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  
}

.card-info a:hover {
  color: #81d4fa;
  text-decoration: dashed;
  
}

.card-personagem{
  background-position: top center;
}

#about-container{
    min-height: 100vh;
    margin:0 auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
   

}

#about-container h1{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 3.6em;
    color: #c9d6e3;
}

#about-container h2{
    text-align: center;
    
}


#about-container p {
    padding-top:25px ;
    padding-bottom: 40px;
    font-size: 1.6em;
    border-radius: 4px;
    text-align: justify;         
    text-indent: 1em;
    max-width: 900px;
    margin: 1.5rem auto;
    line-height: 1.8;            
           
}


#form-contato{
    margin: 50px;
  padding: 2rem;
  background-color: #2a3b47;
  border-radius: 8px;
  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  color: #c9d6e3;

}

#form-contato div {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.3rem;                   
  margin-bottom: 1rem;         
}

#form-contato div label{
    font-size: 1.3em;
}

#form-contato div input,textarea{
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #2a3b47;  
  width: 400px;
  color: white;                          
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  padding: 10px 10px;   
}

#form-contato div textarea {
  
  min-height: 70px;
  resize: none; 
}

.button-sobre {
  text-align: center;
  margin-top: 12px;
  color: black;
}

.button-sobre button {
  text-decoration: none;
  color: white; 
  border: 2px solid #81d4fa;
  border-radius: 6px;
  padding: 10px 40px;
  font-size: 1.2em;
  background-color: rgba(129, 212, 250, 0.3); 
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 8px rgba(129, 212, 250, 0.5);
}

.button-sobre button:hover {
  background-color: #81d4fa; 
  color: #003c47; 
  box-shadow: 0 0 15px #81d4fa;
  text-decoration: none;
}


#link-api{
  text-decoration: none;
  color: #81d4fa;
}

#title-form{
  font-size: 2em;
  color: #c9d6e3;
  margin-top: 75px;
}


main #about-container #citacao {
  font-size: 2.2em;
}

main #about-container #citacao #spancitacao {
  display: block;  
  margin-top: 4px;    
  font-style: italic;
  
  text-align: center;
  font-size: 0.5em;   
}